---
Name: svgassetsfiletype
After: '#assetsfiletypes'
---
SilverStripe\Control\Director:
  rules:
    'dev/svg-compare': 'Restruct\Silverstripe\SVG\Controllers\SVGCompareController'


SilverStripe\Assets\File:
  extensions:
    - Restruct\Silverstripe\SVG\SVGImageExtension
  file_types:
    svg: 'SVG Image'
  allowed_extensions:
    - svg
  app_categories:
    image:
      - svg
    image/supported:
      - svg
  class_for_file_extension:
    svg: Restruct\Silverstripe\SVG\SVGImage

SilverStripe\Assets\Storage\DBFile:
  supported_images:
    - image/svg

---
Name: svgmimevalidator
After: '#mimevalidator'
Only:
  moduleexists: silverstripe/mimevalidator
---
SilverStripe\MimeValidator\MimeUploadValidator:
  MimeTypes:
    svg:
      - image/svg
