---
Name: svgassetsfiletype
After: '#assetsfiletypes'
---
# Convert SVG uploads to SVGImage class automatically
SilverStripe\Assets\File:
  extensions:
    - Restruct\Silverstripe\SVG\SVGImageExtension
  file_types:
    svg: 'SVG Image'
  allowed_extensions:
    - svg
  app_categories:
    image:
      - svg
    image/supported:
      - svg
  class_for_file_extension:
    svg: Restruct\Silverstripe\SVG\SVGImage

SilverStripe\Assets\Storage\DBFile:
  supported_images:
    - image/svg

# Optionally uncomment this to have has_one images loaded as SVG in case of .svg extension
# You would also need to hack the core framework's ForeignKey class for this to work, see README
# SilverStripe\Core\Injector\Injector:
#  SilverStripe\Assets\Image:
#    class: Restruct\Silverstripe\SVG\SVGImage

---
Name: svgmimevalidator
After: '#mimevalidator'
Only:
  moduleexists: silverstripe/mimevalidator
---
SilverStripe\MimeValidator\MimeUploadValidator:
  MimeTypes:
    svg:
      - image/svg

---
Name: svgcompare-dev
---
SilverStripe\Dev\DevelopmentAdmin:
  registered_controllers:
    svg-compare:
      controller: Restruct\Silverstripe\SVG\Controllers\SVGCompareController
      links:
        svg-compare: 'Compare SVG vs raster image manipulations'
